doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title hello world
    script(src='js/peer.js')
  body
    | hello world!
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="../static/js/peerOps.js")
  script(type="text/javascript", src="../static/js/fbt_common.js")
  script(type="text/javascript", src="../static/js/EventEmitter.js")
